/* .game-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
} */
.game-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.game-card {
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  text-align: center;
}

.game-card img {
  width: 80%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.game-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: white;
}

.game-description {
  margin-bottom: 10px;
  color: #c0c0c0;
}

.game-price {
  font-weight: bold;
  margin-bottom: 10px;
  color: #c0c0c0;
}

.read-more-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.read-more-button:hover {
  background-color: #45a049;
}
